body{
    background-image: url("../img/backgroud-dinossauro-pc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Motter;
    src: url("../fonts/motter-corpus-itc-tt.ttf");
}

.texto-final{
    position:absolute;
    top:170px;
    left:140px;
    width:600px;
}

.texto-final h1{
    font-family: Motter;
    font-size:45px;
    line-height:50px;
    color:#F3EED2;
    margin:0;
}

.parte-branca{
    color: #FFFFFF;
}

/* BOTÃO */

.btn-voltar{

    display:inline-block;
    margin-top:40px;
    padding:18px 50px;
    background:#EFEFEF;
    border-radius:40px;
    text-decoration:none;
    color:#222;
    font-family:Arial;
}


.dedo-img{
    position: fixed;
    right: 240px;
    bottom: 70px;
    pointer-events: none;
}

.dedo-img img{
    width: 600px;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 768px){

body{
    background-image: url("../img/backgroud-dinossauro-mobile.jpg");
}

/* TEXTO */

.texto-final{
    top:140px;
    left:30px;
    width:300px;
}

.texto-final h1{
    font-size:32px;
    line-height:36px;
}

/* BOTÃO */

.btn-voltar{
    margin-top:30px;
    padding:16px 35px;
}

/* DEDO */

.dedo-img{
    left: 50px;
    bottom:100px;
}

.dedo-img img{
    width:110vw;
    max-width:520px;
}

}